 /*section 5 */
.coloboration{
 padding-top: 60px;
      padding-bottom: 60px;
  
      
  
      @media screen and (min-width: 1200px){
          padding-top: 94px;
          padding-bottom: 94px;
      }
}


  .coloboration__set{
display: flex;
flex-wrap: wrap;
margin-right: -30px;
margin-top: -30px;
}

.coloboration__set .coloboration__peer{
  flex-basis: calc(100% / 6 - 30px);
  margin-top: 30px;
margin-right: 30px;

  @media screen and (min-width: 768px) and (max-width: 1200px){
    margin-top: 30px;
    margin-right: 30px;
  }

  @media screen and (max-width: 767px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-right: 30px;
  }

}
   .coloboration__list{
    display:flex;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    }
  
   .coloboration__description{
      margin-top: 0;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      list-style-type: none;
      padding: 0;
      margin-bottom: 50px;
      color: var(--title-text-color);
      font-weight: bold;
      font-size: 36px;
      line-height: 1.1;
      margin-bottom: 30px;

      @include mq(desktop){
          margin-bottom: 50px;
      }
    } 
  
  .coloboration__partnership{
   
    fill:currentColor;

  }
  
  .coloboration__partners{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid var(--accent-color-networks);
    border-radius: 4px;
    color:var(--accent-color-networks);
    transition: color 250ms var(--timing-function), border 250ms var(--timing-function);
    @media screen and (min-width: 768px) and (max-width: 1200px){
      width: 226px;
    }

    @media screen and (min-width: 1200px){
      width: 170px;
    }
  }
  

  
  .coloboration__partners:hover,
  .coloboration__partners:focus {
    border:1px solid var(--accent-color);
    background-color: var(--accent-color-second);
    color: var(--accent-color);
  }



