 /* FOOOTTEEERRRR */

 
 .footer {
  background-color:var(--accent-bgc-hero);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container{
  display: flex;
  @media screen and (max-width: 1199px) {
    flex-direction: column;
    text-align: center;
    align-items: baseline;
  }
 
}

.footer__link{
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
    @media screen and(min-width:768px) and(max-width:1199.5px) {
     
    }
  }
  margin-left: auto;
  margin-right: auto;
  @media screen and(max-width:1199.5px) {
    margin-bottom: 60px;
  }

  

  .footer__wrapper {
    @media screen and(max-width:767.5px) {
      margin-bottom: 60px;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 70px;
    }
  }
}



  .footer__logo{
    display: inline-block;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1;
    padding: 0;
    font-family: Raleway,sans-serif;
  }

.footer__wordpart{
color:var(--accent-color);
}

.footer__color{
color:var(--accent-color-second);
}

.footer__list .footer__random:not(:last-child){
   margin-bottom: 9px;
}

  .footer__adress{
    font-size: 14px;
    line-height: 1.7;
    color:var(--accent-color-second);
    font-style: normal; 
    display:block;
    margin: 0;
    padding: 0; 
  }
  
  .footer__comunications:hover,
  .footer__comunications:focus
  {
  color:var(--accent-color);
  }
  
  .footer__comunications{
    transition: color 250ms var(--timing-function);
}


.footer__networks{
  @media screen and(min-width:1200px) {
    margin-right: 93px;
    margin-bottom: 60px;
  }
}
.footer__adds{
font-size: 16px;
text-transform: uppercase;
line-height:1.1;
color: var(--accent-color-second);
letter-spacing: 0.03em;
margin-top: 0;
margin-bottom: 20px;
}

.footer__network{
display:flex;
flex-direction: row;
align-items: center;
}

.footer__network .footer__thing{
display: flex;
align-items: center;
color:var(--accent-color-second);
background: rgba(255, 255, 255, 0.1);
}
  
.footer__messengers{
fill: currentColor;
}
.footer__items:not(:last-child){
  margin-right: 10px;
}

.footer__thing{
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: color 250ms var(--timing-function),
  background-color 250ms var(--timing-function);
}
 
.footer__thing:hover,
.footer__thing:focus {
background-color: var(--accent-color);
color: var(--accent-color-second);
} 