  /* 4 cекция container-team */

    .team{
      background-color: #f5f4fa;

      padding-top: 60px;
      padding-bottom: 60px;
  
      
  
      @media screen and (min-width: 1200px){
          padding-top: 94px;
          padding-bottom: 94px;
      }
    } 
    
    .team__list {
      display: flex;
    flex-wrap: wrap;
    margin-top:calc( -1 * var(--card-border-item));
   margin-left:calc( -1 * var(--card-border-item));
  }
 
      
.team__list >.team__items{ flex-basis: calc(100% / 4 - var(--card-border-item));
  margin-top: var(--card-border-item);
  margin-left: var(--card-border-item);

  @media screen and (max-width: 767px) {
    flex-basis: calc(100% / 1 - var(--card-border-item));
  }

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    flex-basis: calc(100% / 2 - var(--card-border-item));
  }
}

      
  
      .team__description{
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        list-style-type: none;
        padding: 0;
        margin-bottom: 50px;
        color: var(--title-text-color);
        font-weight: bold;
        font-size: 36px;
        line-height: 1.1;
      } 
          



.team__item{
 background-color:var(--accent-color-second);
 padding: 0;
 margin: 0;
padding: 30px;
text-align: center;
box-shadow: var(--border-shadow-area);
border-radius: 0px 0px 4px 4px;

padding-top: 30px;
padding-bottom: 24px;
text-align: center;

@media screen and (max-width: 480px) {
    width: 100%;
    justify-content: center;
}

}
          
          .team__surname {
            
            font-size: 16px;
            line-height:1.1;
            color: var(--title-text-color);
            margin-top: 0;
            margin-bottom: 10px;
            letter-spacing: 0.03em;
          } 
          
          .team__position{
      
          font-size: 16px;
          line-height: 1.1;
          text-align: center;
          letter-spacing: 0.03em;
          color:var(--primary-text-color);
          margin-bottom: 16px;
              
          } 

